<a href="https://colab.research.google.com/github/Noor291/NLP_Assignments/blob/main/AI_NLP1_102017145.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1
s = "Hi there Class!"
print(s.split(" "))

['Hi', 'there', 'Class!']

In [ ]:
#Q2
planet = "Earth"
diameter = 12742
print("The diameter of {planet} is {diameter} kilometers.".format(planet = planet,diameter = diameter))

The diameter of Earth is 12742 kilometers.

In [ ]:
#Q3
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [ ]:
#Q4
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [ ]:
# Q5
def getDomain(email):
    return email.split('@')[-1]

print(getDomain("user@domain.com"))

domain.com

In [ ]:
# Q6
def checkDog(str):
    if "dog" in str.lower():
        return True
    else:
        return False
print(checkDog("This is my Dog."))

True

In [ ]:
# Q7
def countDog(str):
    count=0;
    for word in str.lower().split(" "):
        if word=="dog":
            count+=1
    return count

countDog("dog Dog bird insect dOg")

3

In [ ]:
# Q8
seq = ['soup','dog','salad','cat','great']
filtered=list(filter(lambda x: x[0].lower()=='s',seq))
print(filtered)

['soup', 'salad']

In [ ]:
# Q9
def caught_speeding(speed, birthday):
    if birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

print(caught_speeding(81,True))
print(caught_speeding(81,False))

Small Ticket
Big Ticket

In [ ]:
# Q10
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
res = [i + j for i, j in zip(list1, list2)]
print(res)

['My', 'name', 'is', 'Shelly']

In [ ]:
# Q11
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
res=[i+j for i in list1 for j in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
# Q12
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Q13
list1 = [5, 20, 15, 20, 25, 50, 20]
list1=[i for i in list1 if i!=20]
print(list1)

[5, 15, 25, 50]

In [ ]:
# Q14
d1 = {'a': 100, 'b': 200, 'c': 300}
if 200 in d1.values():
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#Q15
number_of_terms = 10
sum1=0
for i in range (1, number_of_terms + 1):
    sum1 += int('2' * i)
print(sum1)